hls_downloaded/
images/
.venv/
.ipynb_checkpoints/
chrome-lens-ocr/
a.m3u8
*.log

# Ignore all audio files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.wma

# Ignore all video files
*.mp4
*.ts
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm

# Extras
*.lwi
*.srt
*.ass
*.php

